USE [KaraokeAPI]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 6/13/2017 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreID] [varchar](50) NOT NULL,
	[GenreName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Singer]    Script Date: 6/13/2017 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Singer](
	[SingerID] [varchar](50) NOT NULL,
	[SingerName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Singer] PRIMARY KEY CLUSTERED 
(
	[SingerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Song]    Script Date: 6/13/2017 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Song](
	[SongID] [varchar](50) NOT NULL,
	[SongName] [nvarchar](50) NULL,
	[GenreID] [varchar](50) NULL,
	[DateUpload] [datetime] NULL,
	[ViewsCount] [int] NULL,
 CONSTRAINT [PK_Song] PRIMARY KEY CLUSTERED 
(
	[SongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SongDetails]    Script Date: 6/13/2017 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SongDetails](
	[SongID] [varchar](50) NOT NULL,
	[SingerID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SongDetails] PRIMARY KEY CLUSTERED 
(
	[SongID] ASC,
	[SingerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[GetNewSong]    Script Date: 6/13/2017 5:50:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetNewSong]()
returns table
return(select top 4 Song.SongID, Song.SongName, Genre.GenreID, Genre.GenreName, Singer.SingerID, Singer.SingerName
		from Song,SongDetails,Singer,Genre
		where Song.SongID = SongDetails.SongID and
			SongDetails.SingerID = Singer.SingerID and
			Genre.GenreID = Song.GenreID and
			Song.DateUpload > DATEADD(DAY,-30,getdate())
		order by song.DateUpload desc
		)
	   
GO
INSERT [dbo].[Genre] ([GenreID], [GenreName]) VALUES (N'nhacnuocngoai', N'Nhạc Nước Ngoài')
INSERT [dbo].[Genre] ([GenreID], [GenreName]) VALUES (N'nhactre', N'Nhạc Trẻ')
INSERT [dbo].[Genre] ([GenreID], [GenreName]) VALUES (N'nhactrutinh', N'Nhạc Trữ Tình')
INSERT [dbo].[Singer] ([SingerID], [SingerName]) VALUES (N'bbb', N'bbbb')
INSERT [dbo].[Singer] ([SingerID], [SingerName]) VALUES (N'ccc', N'ccc')
INSERT [dbo].[Singer] ([SingerID], [SingerName]) VALUES (N'JohnLegend', N'John Legend')
INSERT [dbo].[Song] ([SongID], [SongName], [GenreID], [DateUpload], [ViewsCount]) VALUES (N'7_-qnriI87I', N'Lạc Trôi', N'nhactre', CAST(N'2017-06-05 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Song] ([SongID], [SongName], [GenreID], [DateUpload], [ViewsCount]) VALUES (N'aaaa', N'aaaa', N'nhactrutinh', CAST(N'2017-06-09 15:10:54.517' AS DateTime), 0)
INSERT [dbo].[Song] ([SongID], [SongName], [GenreID], [DateUpload], [ViewsCount]) VALUES (N'bbbb', N'bbbb', N'nhacnuocngoai', CAST(N'2017-06-13 14:26:30.703' AS DateTime), 0)
INSERT [dbo].[SongDetails] ([SongID], [SingerID]) VALUES (N'7_-qnriI87I', N'SonTungMTP')
INSERT [dbo].[SongDetails] ([SongID], [SingerID]) VALUES (N'aaaa', N'bbb')
INSERT [dbo].[SongDetails] ([SongID], [SingerID]) VALUES (N'bbbb', N'bbb')
